img {
	width: 100%;
}

.imageHolder {
	text-align: center;
}

.projectImage {
	width: 33%;
	min-width: 300px;
	display: inline-block;
	box-sizing: border-box;
	padding: 3%;
	height: 300px;
}

.individualImages {

}